<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>641736017340-mq7nkpcp035vughg0agt7ffbvbt0o0av.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641736017340-mq7nkpcp035vughg0agt7ffbvbt0o0av</string>
	<key>API_KEY</key>
	<string>AIzaSyAjKG4965Z9oKS8eo2e-GBNf9s5VLaWeTw</string>
	<key>GCM_SENDER_ID</key>
	<string>641736017340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PA.Phorum</string>
	<key>PROJECT_ID</key>
	<string>phorum-4415a</string>
	<key>STORAGE_BUCKET</key>
	<string>phorum-4415a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:641736017340:ios:1458897d39a81329</string>
	<key>DATABASE_URL</key>
	<string>https://phorum-4415a.firebaseio.com</string>
</dict>
</plist>